streamlit

langchain>=0.1.17
langchain-core>=0.1.33
langchain-community>=0.0.30

groq
bs4
requests
sentence-transformers
faiss-cpu
tqdm
aiohttp
nest_asyncio
python-dotenv
protobuf==3.20.*
trafilatura
